.sidePanel {
    background-color: $dark-grey;
    line-height: 1.5;
    height: calc(100vh - 3.125rem); // - 50px
    width: calculate_rem(250px);
    position: fixed;
    top: calculate_rem(50px);

    .container {
        padding: calculate_rem(20px);
    }

    &__menu {
        height: 100%;
    }

    &__title {
        font-weight: 700;
        margin-bottom: calculate_rem(5px);
        border-bottom: 2px black solid;
    }

    &__list {
        margin-bottom: calculate_rem(42px);
    }

    &__exit {
        background: $dark-grey;
        border: none;
    }

    &__link {
        text-decoration: none;
        position: absolute;
        bottom: calculate_rem(20px);
        left: calculate_rem(20px);
    }

    &__text {
        display: inline-block;
        color: black;
        font-size: calculate_rem(20px);
        font-weight: 700;
        vertical-align: middle;
    }

    &__image {
        display: inline-block;
        width: calculate_rem(30px);
        margin-left: calculate_rem(10px);
        vertical-align: middle;
    }
}