@function calculate_rem($size) {
    @return $size / 16px * 1rem;
}

html {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}

body {
    font-family: $open-sans;
    margin: 0;
}

main {
    line-height: 1.5;
}