.sidePanel {
    background-color: $dark-grey;
    position: fixed;
    top: calculate_rem(50px);
    height: calc(100vh - 3.125rem); // - 50px
    width: calculate_rem(250px);
    padding: calculate_rem(20px);


    .summary {
        height: calc(100% - 3.125rem); // - 30px - 20px
        overflow: auto;

        .chapter {
            margin-bottom: calculate_rem(40px);

            .title {
                margin: 0 0 calculate_rem(10px) 0;
                font-size: 1rem;
                border-bottom: 2px black solid;
            }

            .list {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
        }
    }

    .exit {
        text-decoration: none;
        position: absolute;
        bottom: 20px;

        .text {
            margin: 0;
            display: inline-block;
            color: black;
            font-size: calculate_rem(20px);
            font-weight: 700;
            vertical-align: middle;
        }

        .image {
            display: inline-block;
            width: calculate_rem(30px);
            margin-left: calculate_rem(10px);
            vertical-align: middle;
        }
    }
}